
/*RESPONSIVE PART*/


/*
========================================
NAVBAR ADJUSTED TO COLLAPSE AT 1130PX
==========================================
*/
@media (max-width: 1130px){
    .navbar-default .navbar-nav>li>a {
        font-size: 25px !important;
        text-align: center !important;
        line-height: 30px;
    }

    .navbar-header{
        float: none;
    }
    
    .navbar-default{
        padding: 0 !important;
    }
    
    .navbar-right{
        float: none !important;
    }

    .navbar-toggle{
        display: block;
    }

    .navbar-default .navbar-collapse, 
    .navbar-default .navbar-form {
        background-color: #FFFFFF;
    }
    
    .navbar-collapse {
        border-top: 0px solid transparent;
        width: 100%;
    }	
    
    .navbar-default .navbar-nav>li>a {
        font-size: 14px;
    }

    .navbar-fixed-top{
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse{
        display: none !important;
    }

    .navbar-nav{
        float: none !important;
    }

    .navbar-nav>li{
        float: none;
    }

    .navbar-nav>li>a{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-nav > li > a {
        color: #111517 !important;
    }
    
    .navbar-nav > li > a:hover {
        color: #111517 !important;
    }
    
    .navbar-nav > li > a:after {
        color: #111517 !important;
    }
    
    .navbar-nav > li > a:active {
        color: #111517 !important;
    }

    .collapse.in{
        display: block !important;
    }

    .navbar-toggle{
        background-color: transparent !important;
        border: transparent !important;
    }
    
    .navbar-toggle:hover{
        background-color: transparent !important; 
    }
    
    .navbar-toggle:after{
        background-color: transparent !important; 
    }
    
    .navbar-toggle:active{
        background-color: transparent !important; 
    }
    
    .navbar-collapse{
        text-align: center;
    }
}

/*
========================================
SERVICES SECTION
==========================================
*/

@media (max-width: 992px){

    .service-item{
        border-right: none;
        padding-bottom: 40px;
    }
}