
@font-face { 
	font-family: "Museosans 900"; 
	font-style: normal; 
	font-weight: 900; 
	src: url(../fonts/MuseoSans_900.otf) format("opentype"); 
}

@font-face {
	font-family: "Averta"; 
	font-style: normal; 
	font-weight: 400;
	src: url(../fonts/averta-regular-webfont.woff);
}

@font-face {
	font-family: "Averta"; 
	font-style: normal; 
	font-weight: 300;
	src: url(../fonts/averta-light-webfont.woff);
}

.formHead{
  font-family: "Averta", sans-serif;
  font-weight: 300 !important;
  margin: 50px 10px;
}

.submit{
  font-family: "Averta", sans-serif;
  margin: 50px 70px;
}

.submit h1{
  font-size: 50px;
  font-weight: 400;
}

.submit p{
  font-size: 20px;
  font-weight: 300;
}

.field{
  padding-right: 150px;
  margin-top: 20px;
}

.input{
  width: 100%;
  padding: 23px 20px;
  display: inline-block;
  border-radius: 0;
  box-sizing: border-box;
}

.req{
  color: #191970;
  font-size: 12px;
}

.social{
  margin: 40px 0; 
}

.social h2{
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.social p{
  font-size: 12px;
  color: #999999
}

.notice{
  color: #191970;
  font-weight: 400;
}