@import '~antd/dist/antd.css';

body {
  background: #FFFFFF;
  margin: 0;
  padding: 0;
}

hr{
  width: 90%;
  border: 1px solid #ECECEC
}

footer{
  color: #999999;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 80px 20px;
  text-align: center;
}
