.navbar{
  margin: 50px 
}

.logo{
  float: left;
  font-size: 20px;
}

.nav{
  text-align: right;
}

ul li{
  display: inline-block;
  padding: 6px 20px;
  text-decoration: none;
  list-style-type: none;
}

a{
  color: #191970;
}