/*
  ========================================
  FONTS
  ========================================
*/
@font-face { 
	font-family: "Museosans 900"; 
	font-style: normal; 
	font-weight: 900; 
	src: url(../fonts/MuseoSans_900.otf) format("opentype"); 
}

@font-face {
	font-family: "Averta"; 
	font-style: normal; 
	font-weight: 400;
	src: url(../fonts/averta-regular-webfont.woff);
}

@font-face {
	font-family: "Averta"; 
	font-style: normal; 
	font-weight: 300;
	src: url(../fonts/averta-light-webfont.woff);
}

/*
  ========================================
  Content
  ========================================
*/
.main{
  padding: 80px;
  font-family: "Averta", sans-serif;
}

.loading{
  position: fixed;
  z-index: 999;
  height: 4em;
  width: 4em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.card {
  margin: 40px auto;
  height: 500px;
  max-width: 320px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
  border: 1px solid #eee;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}

.content{
  padding: 10px;
}

.avatar{
  padding: 40px;
  margin-bottom: 0;
  padding-bottom: 15px;
}

.heading{
  text-align: center;
  margin: 0;
  padding: 0;
}

.heading h2{
  margin: 0;
  padding: 0;
}

.heading .h4{
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.body{
  padding: 20px 0;
}

.link{
  color: #191970;
  position: absolute; 
  bottom: 15px;
  text-align: center;
  right: 70px;
}

.single{
  cursor: pointer;
}