
<!--Home page style-->

<!-- Sections -->
<section id="hero" class="">
  <div class="hero_overlay">
    <div class="container">
      <div class="hero_content">
        <h2>Connecting Healthcare Players</h2>
        <p>Our simple, stress-free platform connects the different Healthcare players to ease business processes.</p>
        <div class="hero-btn">
          <a href="" class="btn btn-md">Learn More</a>
        </div>
      </div>
    </div>
    <!-- /container -->
  </div>
</section>
<!--services-->
<section class="services">
  <div class="container">
    <div class="row menu">
      <div class="service-item col-md-3">
        <a href="" data-toggle="modal" data-target="#servicesModal">
          <h4 class="service-item-header">
            <span>
              <img src="../assets/img/icons/findadoc.svg" alt="Find a Doc"> &#x20; </span>Find a Doctor</h4>
          <p>Ensure your Doctor is genuine and registered</p>
        </a>
      </div>

      <div class="service-item col-md-3">
        <a href="">
          <h4 class="service-item-header">
            <span>
              <img src="../assets/img/icons/nearestfacility.svg" alt="Nearest Facility"> &#x20; </span>Nearest Facility</h4>
          <p>Find the nearest health facility</p>
        </a>
      </div>

      <!-- Add the extra clearfix for only the required viewport -->
      <div class="clearfix visible-xs-block"></div>

      <div class="service-item col-md-3">
        <a href="">
          <h4 class="service-item-header">
            <span>
              <img src="../assets/img/icons/dnacenters.svg" alt="DNA Centers"> &#x20; </span>DNA Centers</h4>
          <p>View DNA Centers in Kenya</p>
        </a>
      </div>

      <div class="col-md-3">
        <a href="">
          <h4>
            <span>
              <img src="../assets/img/icons/medicalservices.svg" alt="Medical Services"> &#x20; </span>Medical Services</h4>
          <p>Search for Medical Services in Kenya</p>
        </a>
      </div>

    </div>
  </div>
</section>
<!--end of services-->

<!--How it works-->
<section id="how-it-works" class="container">
  <h2>How it works</h2>
  <p>We have designed and developed seamless and stress free tech platform connecting Insurance, Hospitals, Doctors, Nurses,
    Pharmacists, to better communicate, exchange info, make payments and serve their clientele.</p>
</section>

<section class="container products">
  <div class="row" style="padding-bottom: 30px">
    <div class="col-md-4 content">
      <img src="../assets/img/icons/eclaims.svg" alt="">
      <h4>eClaim Management</h4>
      <hr align="left" class="product-line">
      <p>e-Claim submissions on time and reduced rejection rates are key to payers and providers.</p>
      <a class="product-btn" href="">Learn More
        <i class="fa fa-arrow-right fa-3x" aria-hidden="true"></i>
      </a>
    </div>

    <div class="col-md-4 content">
      <img src="../assets/img/icons/insurecheck.svg" alt="">
      <h4>InsureCheck</h4>
      <hr align="left" class="product-line">
      <p>See all member and beneficiary information online without making many calls to the Insurance companies.</p>
      <a class="product-btn" href="">Learn More
        <i class="fa fa-arrow-right fa-3x" aria-hidden="true"></i>
      </a>
    </div>

    <div class="col-md-4 content">
      <img src="../assets/img/icons/enrollment.svg" alt="">
      <h4>Member eEnrollment</h4>
      <hr align="left" class="product-line">
      <p>Use the platform to sign up all members details, photos, records without any ink and paper.</p>
      <a class="product-btn" href="">Learn More
        <i class="fa fa-arrow-right fa-3x" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <div class="row" style="padding-bottom: 30px">
    <div class="col-md-4 content">
      <img src="../assets/img/icons/prescription.svg" alt="">
      <h4>ePrescription</h4>
      <hr align="left" class="product-line">
      <p>No more paper prescriptions even for refills. Give all patients electronic prescriptions.</p>
      <a class="product-btn" href="">Learn More
        <i class="fa fa-arrow-right fa-3x" aria-hidden="true"></i>
      </a>
    </div>
    <div class="col-md-4 content">
      <img src="../assets/img/icons/authletter.svg" alt="">
      <h4>eAuthorisation Letter</h4>
      <hr align="left" class="product-line">
      <p>Automate the pre-auth processes. No more telephone calls to providers.</p>
      <a class="product-btn" href="">Learn More
        <i class="fa fa-arrow-right fa-3x" aria-hidden="true"></i>
      </a>
    </div>
    <div class="col-md-4 content">
      <img src="../assets/img/icons/biometric.svg" alt="">
      <h4>Biometric Authorisation</h4>
      <hr align="left" class="product-line">
      <p>Positive identification of individuals is a very vital requirement in the insurance world and especially the medical
        health field. </p>
      <a class="product-btn" href="">Learn More
        <i class="fa fa-arrow-right fa-3x" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <div class="row" style="padding-bottom: 30px">
    <div class="col-md-4 content">
      <img src="../assets/img/icons/terminology.svg" alt="">
      <h4>Terminology Coding</h4>
      <hr align="left" class="product-line">
      <p>Terminology servers support data standardization and interoperability in Electronic Medical Records systems.</p>
      <a class="product-btn" href="">Learn More
        <i class="fa fa-arrow-right fa-3x" aria-hidden="true"></i>
      </a>
    </div>
  </div>

</section>
<!--End of How it works-->

<!--About us-->
<section id="about-us" class="about-us">
  <div class="container row">
    <div class="col-md-6">
      <img src="../assets/img/about.png" alt="about">
    </div>
    <div class="col-md-6">
      <h2>About</h2>
      <h4>healthcare ecosystem</h4>
      <hr align="left" class="about-line">
      <p>Healthix Solutions is a healthcare technology business working to enable a vibrant Healthcare Ecosystem - connecting
        Patients, Payers, Providers, Pharmaceutical companies, Governments and other stakeholders with a focus to improve
        patient care. Healthix platform is a shared exchange - seamless exchange services between all healthcare players
        in the Healthcare Ecosystem - platform that connects once siloed/stand-alone services into integrated networks. Our
        connected platform provides more value to the different stakeholders especially in the roadmap to achieving their
        digital strategy.
      </p>
    </div>
  </div>
</section>
<!--End of About us-->

<!-- Testimonials section -->
<section id="testimonials" class="section testimonials no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <div class="col-md-12">
              <blockquote>
                <p>RESOURCE SHARING</p>

                <h1>Allows resource sharing amongst the healthcare players without increasing their costs.</h1>
              </blockquote>
            </div>
          </li>
          <li>
            <div class="col-md-12">
              <blockquote>
                <p>SIMPLE TOOLS</p>

                <h1>Provides simple tools to providers to upload information to the payers.</h1>
              </blockquote>
            </div>
          </li>
          <li>
            <div class="col-md-12">
              <blockquote>
                <p>TRAINING AND DEVELOPMENT</p>

                <h1>Enables training and development to personnel in provider and payer institutions.</h1>
              </blockquote>
            </div>
          </li>
          <li>
            <div class="col-md-12">
              <blockquote>
                <p>CONNECTIVITY & ACCESS</p>

                <h1>Provides connectivity & access for payers and providers in the Healthcare ecosystem.</h1>
              </blockquote>
            </div>
          </li>
          <li>
            <div class="col-md-12">
              <blockquote>
                <p>PATIENT MANAGEMENT</p>

                <h1>Provides better patient management for the providers; patient validation tools are available to them</h1>
              </blockquote>
            </div>
          </li>
          <li>
            <div class="col-md-12">
              <blockquote>
                <p>ONLINE CLAIM TOOL</p>

                <h1>Is a robust online claim reconciliation tool with payment enabled.</h1>
              </blockquote>
            </div>
          </li>
          <li>
            <div class="col-md-12">
              <blockquote>
                <p>REDUCED COSTS</p>

                <h1>Reduces on the operational costs to payer and provider institutions.</h1>
              </blockquote>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Testimonials section -->

<!--pre footer-->
<section class="pre-footer">
  <div style="max-width: 1080px;" class="container">
    <div class="row menu">
      <div class="col-md-3">
        <h4>Company</h4>
        <ul>
          <li>
            <a href="">About Us</a>
          </li>
          <li>
            <a href="">Careers</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>Product</h4>
        <ul>
          <li>
            <a href="">eClaims</a>
          </li>
          <li>
            <a href="">Insurecheck</a>
          </li>
          <li>
            <a href="">Member eEnrollment</a>
          </li>
        </ul>
      </div>

      <!-- Add the extra clearfix for only the required viewport -->
      <div class="clearfix visible-xs-block"></div>

      <div class="col-md-3">
        <h4>Solutions</h4>
        <ul>
          <li>
            <a href="">ePrescription</a>
          </li>
          <li>
            <a href="">eAuthorisation Letter</a>
          </li>
          <li>
            <a href="">Biometric Authorisation</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>Extras</h4>
        <ul>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--End of pre-footer-->

<!--Footer-->
<footer id="footer" class="">
  <div class="container">
    <div class="copyright">
      <small class="wow zoomIn" data-wow-duration="1s"> Copyright &copy; 2017 Healthix Solutions. All Rights Reserved</small>
    </div>
  </div>
  <!-- End footer bottom -->
</footer>