/* You can add global styles to this file, and also import other style files */

/*
  ========================================
  BODY
  ========================================
*/

body{
  color: #111517;
  font-family: "Googlesans";
  letter-spacing: 1px;
}